<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="/loginProcess" name="frm">
        <input type="hidden" name="_csrf" value="{{ _csrf.token }}">
        <input type="text" name="memberId" placeholder="아이디"><br>
        <input type="password" name="password" placeholder="비번"><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>